* {
    position: relative;
    box-sizing: border-box;
}

html[lang="fr"] q {
  quotes: "«" "»";
}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

p, h1, h2, h3, h4, ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    font-family: "Roboto";
    font-style: normal;
    margin-after: 0em;

}

ul {
    list-style-type: none;
    list-style-position: none;
}


/*************************

Styles de page

***********************/


header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
}

header .logo {
  display: flex;
  flex-direction: row;
  flex: 5;
  width: 100%;
  height: 140px;
  min-width: 520px;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
}

header .logo > p {
  align-self:
    flex: 2;
    padding-left: 20px;
}

header .logo > h1 {
    flex: 3;
    position: relative;
    right: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
}

header nav {
    height: 100%;
    background-color: white;
    flex: 7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav > ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
}

header nav > ul > li{
    font-size: 2em;
    font-family: "Open Sans";
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

header nav > ul > li:hover{
    background-color: #068ca5 ;/*#068ca5*/
}

header nav > ul > li:hover a{
    color: #ffffff;
}

header nav #menu-portfolio ul {
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0px;
}

header nav #menu-portfolio ul li{
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 50px;
    height: 50px;
    font-size: 1.5em;
    color: white;
	transition: all .25s ease-in-out;
	opacity: 0;
	visibility: hidden;
}

header nav #menu-portfolio ul li:nth-child(even){
    transform: translate(30px, 0px);
}

header nav #menu-portfolio ul li:nth-child(odd){
    transform: translate(-30px, 0px);
}


header nav #menu-portfolio:hover ul li{
    transform: translate(0px, 0px);
	opacity: 1;
	visibility: visible;
}

header nav #menu-portfolio:hover ul li:hover{
    transform: translate(20px, 0px);
	background-color: rgba(0, 0, 0, 0.8);
}

#Slider {
    width: 100%;
    min-height: 700px;
    max-height: 700px;
    overflow: hidden;
}


@media screen and (max-width: 970px) {
	#Slider {
		display: none;
	}

	#apropos .citation {
		display: none;
	}

	#contact .position {
		display: none;
	}
}

#Slider article{
	width: 100%;
	height: 100%;
}


#Slider article img {
    min-width: 100%;
	height: 700px;
	max-height: auto;
    padding: 0px;
    margin: 0px;
}

#Slider article {
	position: relative;
}

#Slider article > footer {
	position: absolute;
    display: flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: center;
	padding: 0;
	margin: 0;
    width: 100%;
    bottom: 0px;
    height: 120px;
    background-color: rgba(6, 140, 165, 0.35);
}

#Slider .info-photo {
    display: flex;
	width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
	margin-bottom: 10px;
	margin-right: 130px;
}

#Slider .info-photo h2 {
    color: white;
    font-size: 32px;
    font-family: "Montserrat";
    font-style: italic;
    white-space: nowrap;
}

#Slider .info-photo .lieu {
    font-size: 18px;
    text-align: right;
    white-space: nowrap;
}

#Slider .credit-photo {
	width: 50%;
	margin-left: 130px;
}

#Slider .bulles {
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	z-index: 2;
	bottom: 48px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 260px;
}

#Slider .bulles li button, #Slider .bulles li button:active{
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: white;
	border: none;
	outline: none;
	color: white;
}

#Slider .bulles .slick-active button{
    background-image: url("../images/bulle-active.png");
    border-radius: 0%;
    background-color: rgba(0,0,0,0);
	color: black;
}

#Slider .credit-photo p{
    font-size: 16px;
    font-family: "DejaVu";
    color: white;
}

#apropos {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

#apropos .citation {
    margin-top: 100px;
    min-width: 540px;
    max-width: 700px;
    flex: 1;
}

#apropos .citation q {
    color: #068ca5;
    font-style: italic;
    font-size: 1.3em;
    letter-spacing: 1.1px;
    line-height: 2;
}

#apropos .citation p {
    padding-top: 20px;
    font-size: 18px;
    text-indent: 50px;
}

#apropos p > img {
    margin: 70px;
    margin-bottom: 0px;
    border-radius: 100%;
    flex: 1;
}

#apropos .informations {
    margin-bottom: 70px;
    min-width: 520px;
    flex: 1;
    font-family: "Open Sans";
    line-height: 1.5;
    margin-top: 70px;
}

#apropos .informations h2{
    font-size: 1.7em;
    font-weight: bold;
    display: inline;
}

#apropos .informations .texte {
    font-size: 1.2em;
    display: inline;
    line-height: 1.7;
}

#apropos .informations .texte .expand {
    color : #068ca5;
}

#apropos .informations .cv {
    font-weight: 200; /*does not work with this font*/
    font-size: 1.2em;
    text-decoration: underline;
    text-transform: uppercase;
    text-indent: 20px;
}

#apropos .informations .credit {
    font-size: 1.2em;
    text-indent: 20px;
    color : #068ca5;
}

#portfolio {
    min-width: 100%;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
	margin-bottom: 100px;
	padding-top: 200px;
}

#portfolio > h2 {
	position: absolute;
	top: 0px;
    width: 100%;
    background-color: #e3e3e3;
    padding-left: 60px;
    height: 85px;
    line-height: 85px;
    font-size: 1.7em;
    font-weight: bold;
}
#portfolio .waiting-list {
	display: none;
}
#portfolio nav {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 200px;
	max-height: 200px;
	min-width: 200px;
	min-height: 200px;
	margin-left: 50px;
	background-color: rgb(6, 140, 165);
	color : white;
	font-size: 20px;
	font-weight: bold;
}

#portfolio nav p {
	padding-top: 30px;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	width: 100%;
}

#portfolio nav > div {
	height: 130px;
	width: 100px;
	padding: 0px;
	margin: 0px;
	position: relative;
	cursor: pointer;
}

#portfolio nav > div:hover .arrow::before  {
	background-color: black;
	transform: rotate(-15deg);
}

#portfolio nav > div:hover .arrow::after  {
	background-color: black;
	transform: rotate(15deg);
}

#portfolio nav .left .arrow {
	position : absolute;
	bottom: 60px;
	left: 20px;
}

#portfolio nav .right .arrow{
	position : absolute;
	bottom: 58px;
	right: 20px;
	transform: rotate(180deg);
}

#portfolio nav .arrow::before {
	content: '';
	display: block;
	width : 60px;
	height: 2px;
	background-color: white;
	position: absolute;
	transform-origin: bottom left;
	transform: rotate(-30deg);
	transition: transform 100ms cubic-bezier(0, 0.88, 0.53, 1.46);
}

#portfolio nav .arrow::after {
	content: '';
	display: block;
	width : 60px;
	height: 2px;
	background-color: white;
	position: absolute;
	transform-origin: top left;
	transform: rotate(30deg);
	transition: transform 100ms cubic-bezier(0, 0.88, 0.53, 1.46);
}

#portfolio .creations{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

#portfolio .creations .left{
	height: 700px;
}


#portfolio article {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 400px;
	justify-content: space-between;
	background-color: grey;
	transform: rotate(0deg) translateX(0px) scale(1);
	animation-fill-mode: forwards;
	border: 1px solid #e3e3e3;
}

#portfolio article img{
	height: 70%;
}

#portfolio article h4{
	padding: 0px;
	margin-left: 10px;
	font-size: 18px;
	font-weight: bold;
	font-family: oswald;
	color: rgb(6, 140, 165);
}

#portfolio .creations .left, #portfolio .creations .right{
	height: auto;
}

#portfolio .small-creation-container {
	width: 350px;
	height: 400px;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
}

@media screen and (max-width: 1560px) {
	#portfolio .creations .left + div{
		display: none;
	}
}

@media screen and (max-width: 1130px) {
	#portfolio .creations .right{
		display: none;
	}
}

@media screen and (max-width: 700px) {
	#portfolio .creations .left .small-creation-container:last-child{
		display: none;
	}

	#portfolio {
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
	}

	#portfolio .creations {
		order : -5;
	}
	#portfolio nav {
		order : 5;
		margin: 0px;
	}
}

#portfolio .overlap .next{
	z-index: 0;
	animation: overlapNext 1s cubic-bezier(0.75, 0.04, 0.17, 0.84) 0s 1 normal;
	animation-fill-mode: forwards;
}

#portfolio .overlap .preview{
	z-index: 1;
	animation: overlapPreview 1s cubic-bezier(0.75, 0.04, 0.17, 0.84) 0s 1 normal;
}

#portfolio .run-you-fool .next{
	visibility: hidden;
	animation: runYouFool 1s cubic-bezier(0.61,-0.19, 0.79, 0.18) 1.2s 1 reverse;
	animation-fill-mode: forwards;
}

#portfolio .run-you-fool .preview{
	animation: runYouFool 1s cubic-bezier(0.61,-0.19, 0.79, 0.18) 0s 1 normal;
	animation-fill-mode: forwards;
}

#portfolio .barell-roll .next{
	z-index: 0;
	animation: barrelRoll 3s cubic-bezier(0.93,-0.31, 0.78, 0.34) 0s 1 normal;
}

#portfolio .barell-roll .preview{
	z-index: 1;
	animation: barrelRoll 3s cubic-bezier(0.93,-0.31, 0.78, 0.34) 0s 1 normal;
	animation-fill-mode: forwards;
}

#portfolio .card {
	perspective: 600px;
}

#portfolio .card .next{
	z-index: 0;
	backface-visibility: hidden;
	/*background-color: blue;*/
	transform: rotateY(180deg);
	animation: card-back 3s cubic-bezier(0.24, 1.6, 0.35, 0.85) 2s 1 normal;
	animation-fill-mode: forwards;
}

#portfolio .card .preview{
	backface-visibility: hidden;
	z-index: 1;
	/*background-color: red;*/
	animation: card-front 3s cubic-bezier(0.24, 1.6, 0.35, 0.85) 2s 1 normal;
	animation-fill-mode: forwards;
}

#portfolio .fall .next{
	opacity: 0;
	animation: apparition .5s linear 3s 1 normal;
	animation-fill-mode: forwards;
}

#portfolio .fall .preview{
	transform-origin: top left;
	animation: rotate 1.5s cubic-bezier(0.23, 1.6, 0.76, 1.25) 0s 1 normal, fall .5s cubic-bezier(0.4, 0.52, 0.51, 0.63) 2s 1 normal;
	animation-fill-mode: forwards;
}

#portfolio article header {
	width: 100%;
	bottom: 0%;
	background-color: white;
	height: 30%;
}

/*#b9b9b9*/

#presse {
	width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 100Px;
}

#presse > h2 {
    width: 100%;
    background-color: #e3e3e3;
    padding-left: 60px;
    font-family: "Lato";
    font-weight: bold;
    font-size: 1.7em;
    height: 85px;
    line-height: 85px;
    margin-bottom: 100px;
}

#presse .arrow {
	position: absolute;
	width : 200px;
	height: 86px;
	border: none;
	outline: none;
	background: none;
	margin: 30px;
	padding-top: 20px;
	/*background-image: url("../images/arrow-black.png");*/
}

#presse .arrow-bubble {
	position: absolute;
	left: 0px;
	top: -1px;
	left: -26px;
	text-align: center;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: #e5e5e5;
	z-index: -1;
	transform: scale(0);
	transition: transform 200ms cubic-bezier(0, 0.88, 0.53, 1.46);
}

#presse .right {
	top : 400px;
	right: -100px;
	transform: rotate(180deg);
	transition: transform 200ms cubic-bezier(0, 0.88, 0.53, 1.46);
}

#presse .left {
	top : 400px;
	left: -120px;
	transition: transform 200ms cubic-bezier(0, 0.88, 0.53, 1.46);
}

#presse .arrow::before {
	content: '';
	display: block;
	width : 44px;
	height: 2px;
	background-color: black;
	position: absolute;
	top: 23px;
	left: -6px;
	transform: rotate(-60deg);
	transition: transform 100ms cubic-bezier(0, 0.88, 0.53, 1.46);
}

#presse .arrow::after {
	content: '';
	display: block;
	width : 44px;
	height: 2px;
	background-color: black;
	position: absolute;
	bottom: 23px;
	left: -6px;
	transform: rotate(60deg);
	transition: transform 100ms cubic-bezier(0, 0.88, 0.53, 1.46);
}

#presse .left:hover{
	transform: translateX(-20px);
}

#presse .right:hover {
	transform: translateX(20px) rotate(180deg);
}

#presse .arrow:hover::before{
	background-color: rgb(6, 140, 165);
	transform: rotate(-30deg) translateY(10px);
}

#presse .arrow:hover::after{
	background-color: rgb(6, 140, 165);
	transform: rotate(30deg) translateY(-10px);
}


#presse .arrow:hover .arrow-bubble {
	transform: scale(1);
}

#presse .slider {
	width: 1324px;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-between;

}

#presse .slider  article {
    width: 432px;
    min-height: 824px;
    border: 1px solid #b9b9b9;
}

#presse .slider .slick-slide {
	width: 432px;
	margin-left: 14px;
}

#presse .slider .slick-list {
	margin-left: -14px;
}

#presse .slider article .image p {
    width: 100%;
    height: 500px;

}

#presse .slider article header {
    position: relative;
    min-height: 95px;
    width: 100%;
    background-color: rgba(6, 140, 165, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10%;
    padding-left: 20px;
}

#presse .slider article header h3{
    color: white;
    font-size: 1em;
    padding: none;
    margin: none;
    font-weight: bold;
    font-family: "Open Sans";
}

#presse .slider article header h4{
    font-size: 16px;
    padding: none;
    margin: none;
    font-family: "Open Sans";
}

#presse .slider article img {
    width: 100%;
    height: 100%;
}

#presse .slider article > p {
    padding: 5%;
    font-size: 18px;
    line-height: 1.5;
}

@media screen and (max-width : 1600px){
	#presse .slider {
		width: 1324px;
	}
}

@media screen and (max-width : 1200px){
	#presse .slider {
		width: 864px;
	}
}

@media screen and (max-width : 900px){
	#presse .slider {
		width: 432px;
	}
}

#contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

#contact > h2 {
    width: 100%;
    background-color: #e3e3e3;
    padding-left: 60px;
    font-family: "Lato";
    font-weight: bold;
    font-size: 1.7em;
    height: 85px;
    line-height: 85px;
    margin-bottom: 100px;
}

#contact .position {
    width: 620px;
    height: 530px;
}

#contact iframe {
     width: 100%;
     height: 100%;
     border: none;
     frameborder: 0;
 }

#contact .informations {
    padding-left: 100px;
    padding-right: 200px;
}

#contact .informations h3 {
    color: #068ca5;
    font-size: 20px;
    font-weight: bold;
}

#contact .informations p {
    font-family: "Lato";
    font-size: 20px;
    line-height: 1.5;
}

#contact .informations a {
    font-family: "Lato";
    text-decoration: underline;
}

#contact .informations a::before {
    content:">>";
}



body footer {
    background-color: #068ca5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    color: white;
    font-size: 14px;
    padding-left: 200px;
    padding-right: 100px;
    font-family: "Lato";
    font-style: italic;
    margin: 0px;
}

body .navigation-ancher {
    box-sizing: content-box;
    position: absolute;
    bottom: 200px;
    right: 150px;
    background-color: #e5e5e5;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    -webkit-transition: padding .2s, bottom .2s, right .2s;
    transition: padding .2s, bottom .2s, right .2s;
}

body .navigation-ancher:hover {
    bottom: 185px;
    right: 135px;
    padding: 15px;
}


@keyframes barrelRoll {
	from{
		transform: rotate(0deg);
		visibility: visible;
	}
	to {
		transform: rotate(4220deg);
		visibility: hidden;
	}
}

@keyframes card-front {
	from{
		transform: rotateX(0deg) rotateY(-10deg);
	}
	to {
		transform: rotateX(180deg) rotateY(0deg);
	}
}

@keyframes card-back {
	from{
		transform: rotateX(180deg) rotateY(10deg);
	}
	to {
		transform: rotateX(360deg) rotateY(0deg);
	}
}

@keyframes runYouFool {
	from {
		visibility: visible;
		transform: translateX(0px) rotate(0deg) scale(1);
	}
	99%{
		visibility: visible;
	}
	to {
		transform: translateX(3000px) rotate(270deg) scale(0);
		visibility: hidden;
	}
}

@keyframes overlapNext {
	from {
		transform: translateX(0px) rotate(0deg);
	}
	50% {
		transform: translate(-250px, -100px) rotate(-30deg);
		z-index: 1;
	}
	to {
		transform: translateX(0px) rotate(0deg);
		z-index: 1;
	}
}

@keyframes overlapPreview {
	from {
		transform: translateX(0px) rotate(0deg);
	}
	50% {
		transform: translate(250px, 100px) rotate(30deg);
		z-index: 0;
	}
	to {
		transform: translateX(0px) rotate(0deg);
		z-index: 0;
	}
}

@keyframes rotate {
	from {
		transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg);
	}
	40% {
		transform: rotateZ(45deg) rotateY(25deg) rotateX(-25deg);
	}
	70% {
		transform: rotateZ(25deg) rotateY(-5deg) rotateX(5deg);
	}
	to {
		transform: rotateZ(30deg) rotateY(0deg) rotateX(0deg);
	}
}

@keyframes fall {
	from {
		transform: translate(0px, 0px) rotateZ(30deg) rotateX(0deg) rotateY(0deg) scale(1);
	}
	30% {
		opacity: 1;
	}
	to{
		transform: translate(0px, 1000px) rotateZ(90deg) rotateX(135deg) rotateY(-135deg) scale(0);
		opacity: 0;
	}
}

@keyframes apparition {
	from {
		visibility: visible;
		transform: translate(0px, -100px);
		opacity: 0;
	} to {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

@keyframes menu-apparition-left {
	from {
		visibility: visible;
		transform: translate(-30px, 0px);
		opacity: 0;
	} to {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}
